$white: white;
$morado: #6930C3;
$morado-oscuro: #7400B8;
$gris: #ccc;
$negro: black;
$azul-claro: #48BFE3;
$azul-supeer-claro: #64DFDF;
$azul-oscuro: #5390D9;
$azul-semi-oscuro: #5390DC;
$azul-verde-claro: #80FFD8;
$azul-semi-claro: #4DA8ED;
$morado-claro: #5E60CE;
$aqua-claro:#72EFDD;