$margen-lateral-auto: 0 auto;
$siete-rem-y-medio: 7.5rem;
$dos-uno-ocho-siete-rem: 2.187rem;
$tres-uno-dos: .312rem;
$noventa-porciento: 90%;
$sesenta-porcioento: 60%;
$dos-con-cinco: 2.5rem;
$uno-con-uno-dos-cinco: 1.125rem;
$dos-cinco: .25rem;
$lateral-completo: 100%;
$LBR: "Libre Baskerville Regular";
$ocho-siete-cinco: 0.875rem;
$LBI: "Libre Baskerville Italic";
$LBB: "Libre Baskerville Bold";
$Full-Star: 'Full-Star';
$nueve-tres-siete-sin-lateral: .937rem 0;
$nueve-tres-siete: .937rem;
$rem: 1rem;
$uno-con-cinco-seis-dos: 1.562rem;
$vienti-cinco: 25%;
$uno-con-cinco: 1.5rem;
$cincoRem: 5rem;
$seis-dos-cinco: .625rem;
$ocho-siete-cinco: .875rem;
$dos-uno-con-ocho-siete-cinco: 21.875rem;
$uno-con-siete-cinco: 1.75rem;
$uno-con-seis-dos-cinco: 1.625rem;
$siete-cinco: .75rem;
$diez-lateral: 10%;
$tres-con-uno-dos-cinco: 3.125rem;
$tres-con-uno-dos-cinco-doble: 3.125rem 3.125rem;
$ocho-con-cuatro-tres-siete: 8.437rem;
$uno-dos-cinco: .125rem;
$cincuentaRem: 50rem;
$uno-con-dos-cinco: 1.25rem;
$cincuenta-lateral: 10%;
$icons: "icons";
$altura-caja-azul: 9.0625rem;
$treinta-tres-rem: 33rem;
$treintarem: 30rem;
// $uno-con-ocho-siete-cinco: 1.875rem;