@import "fonts.scss";
@import "_variables.scss";
@import "_colors.scss";

* {
    margin: 0;
    padding: 0;
}

.clearfix {
    float: none;
    clear: both;
}

// Estilos home
main {
    width: $lateral-completo;
    margin: $margen-lateral-auto;
    display: grid;
    grid-template-areas: "header""mensajeOne""servicios""mensaje2""newProject""ejemplos""reviews""contacto""footer";

    header {
        height: $siete-rem-y-medio;
        width: 98%;
        display: grid;
        grid-area: "header";
        margin-bottom: $dos-uno-ocho-siete-rem;
        grid-template-columns: [col-1-start] 2fr [col-1-end col-2-start] 2fr [col-2-end col3-start] 2fr [col-3-end];
        grid-template-rows: $siete-rem-y-medio;
        grid-template-areas: "logo .. menuMovil";

        .logo {
            display: inline-block;
            padding: $tres-uno-dos;
            margin: $tres-uno-dos;
            margin: auto;
            height: 80%;
            grid-area: logo;

            img {
                height: $lateral-completo;
                width: auto;
            }
        }

        .menu__movil {
            display: inline-block;
            grid-area: menuMovil;
            font-family: "icon-menu";
            text-align: center;

            .icon-menu {
                display: inline;
                font-size: 7.187rem;
                color: $negro // text-align: center;
                    // vertical-align: middle;
            }
        }
    }

    .header-movil {
        height: $siete-rem-y-medio;
        width: 98%;
        display: grid;
        grid-area: "header";
        margin-bottom: $dos-uno-ocho-siete-rem;
        grid-template-columns: [col-1-start] 2fr [col-1-end col-2-start] 2fr [col-2-end col3-start] 2fr [col-3-end];
        grid-template-rows: $siete-rem-y-medio;
        grid-template-areas: "logo .. menuMovil";

        .logo {
            display: inline-block;
            padding: $tres-uno-dos;
            margin: $tres-uno-dos;
            margin: auto;
            height: 80%;
            grid-area: logo;

            img {
                height: $lateral-completo;
                width: auto;
            }
        }

        .menu__movil {
            display: inline-block;
            grid-area: menuMovil;
            font-family: "icon-menu";
            text-align: center;

            .icon-menu {
                display: inline;
                font-size: 7.187rem;
                color: $negro // text-align: center;
                    // vertical-align: middle;
            }
        }
    }

    .header-desktop {
        display: none;
    }

    // sección welcome
    .welcome {
        height: 28.125rem;
        width: $noventa-porciento;
        margin: $margen-lateral-auto;
        background: $azul-oscuro;
        border-radius: $diez-lateral;
        display: grid;
        grid-area: "mensajeOne";
        grid-template-columns: [col-1-start] 2fr [col-1-end];
        grid-template-rows: $siete-rem-y-medio $siete-rem-y-medio $siete-rem-y-medio;
        grid-template-areas: "mensajeA""mensajeB""mensajeC";

        .presentation {
            width: $noventa-porciento;
            margin: auto;

            .title {
                grid-area: "mensajeA";
                font-family: $LBI;
                text-align: left;
                font-size: $dos-con-cinco;
                margin: $uno-con-uno-dos-cinco;
                margin-left: $dos-cinco;
                padding: $uno-con-uno-dos-cinco;
                color: $negro;
            }

            .inspiration {
                width: $lateral-completo;
                grid-area: "mensajeB";
                font-family: $LBR;
                font-size: $rem;
                color: $negro;
                text-align: left;
                font-size: $ocho-siete-cinco;
                margin: 0.375rem;
                // padding: $ocho-siete-cinco;
            }

            .works {
                grid-area: "mensajeC";
                font-family: $LBI;
                display: block;
                width: 90%;
                height: 4.125rem;
                margin: $margen-lateral-auto;
                background: $azul-verde-claro;
                border: none;
                font-size: 1 + $nueve-tres-siete;
                margin-top: 2.562rem;
                color: black;
                border-radius: 50px;

                &:active {
                    background: $morado-claro;
                    color: white;
                }
            }
        }
    }

    // Sección de contacto
    .contact {
        height: $cincuentaRem;
        width: $noventa-porciento;
        margin: $margen-lateral-auto;

        margin: {
            top: $uno-con-cinco-seis-dos;
            bottom: $uno-con-cinco-seis-dos;
        }

        .contact--invite {
            text-align: center;
            font-size: $uno-con-dos-cinco;
            color: $morado;
            padding-top: $seis-dos-cinco;
            font-family: $LBR;
        }

        .contact--invitation {
            text-align: center;
            font-size: $uno-con-seis-dos-cinco;
            color: $morado;
            padding-top: $seis-dos-cinco;
            padding: $uno-con-dos-cinco 0;
            font-family: $LBB;
        }

        .contact--phone {
            width: $lateral-completo;
            height: $siete-rem-y-medio;
            margin: $uno-con-cinco-seis-dos 0;

            .contact--action {
                display: inline-block;
                height: $dos-con-cinco;
                line-height: $uno-con-dos-cinco;
                padding: $nueve-tres-siete;

                margin: {
                    right: $seis-dos-cinco;
                    top: $seis-dos-cinco;
                }

                .contact--action__phone {
                    font-family: $icons;
                    color: $negro;
                    font-size: 70px;
                    text-align: center;
                }
            }

            .contact--info {
                display: inline-block;
                line-height: $uno-con-dos-cinco;
                padding: $nueve-tres-siete;
                margin-bottom: $nueve-tres-siete;

                .contact--info__number {
                    line-height: $dos-con-cinco;
                    font-size: $rem;

                }
            }
        }

        .contact--mail {
            width: $lateral-completo;
            height: $siete-rem-y-medio;
            margin: $uno-con-cinco-seis-dos 0;

            .contact--action {
                display: inline-block;
                height: $dos-con-cinco;
                line-height: $uno-con-dos-cinco;
                padding: $nueve-tres-siete;

                margin: {
                    right: $seis-dos-cinco;
                    top: $seis-dos-cinco;
                }

                .contact--action__mail {
                    font-family: $icons;
                    color: $negro;
                    font-size: 4.375rem;
                    text-align: center;
                }
            }

            .contact--info {
                display: inline-block;
                line-height: $uno-con-dos-cinco;
                padding: $nueve-tres-siete-sin-lateral;
                margin-bottom: $nueve-tres-siete;

                .contact--info__mail {
                    line-height: $dos-con-cinco;
                    font-size: $ocho-siete-cinco;
                    font-family: $LBR;
                }
            }
        }

        .buzon {
            width: $lateral-completo;
            height: $dos-uno-con-ocho-siete-cinco;

            label {
                display: block;
                margin-top: $uno-con-cinco-seis-dos;
                font-size: $uno-con-cinco;
                font-family: $LBB;
            }

            input {
                display: block;
                height: 1.875rem;
                width: $lateral-completo;
                margin-top: $tres-uno-dos;
                border: $uno-dos-cinco solid $gris;
            }

            .buzon--message {
                height: 6.625rem !important;
                width: $lateral-completo !important;
                margin-top: $seis-dos-cinco;
            }
        }
    }

    // Sección de imagen promocional
    .poster {
        height: $treintarem;
        width: $noventa-porciento;
        margin: $margen-lateral-auto;

        margin: {
            top: $uno-con-cinco-seis-dos;
            bottom: $uno-con-cinco-seis-dos;
        }

        .promotion {
            display: inline-block;
            width: $lateral-completo;
            height: 350px; 
            background: red;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

//Pie de la página
.pie {
    height: $cincuentaRem;
    width: $lateral-completo;
    margin: $margen-lateral-auto;
    background: $morado;
    border-radius: $tres-con-uno-dos-cinco-doble 0 0;
    // margin-bottom: 50px;

    .pie--logo {
        padding: $tres-uno-dos;
        margin: $nueve-tres-siete;
        height: 18%;
        width: $noventa-porciento;

        img {
            display: inline-block;
            height: $lateral-completo;
            width: auto;

            padding: {
                top: $tres-uno-dos;
                left: $uno-con-dos-cinco;
            }
        }

        .pie--company {
            font-size: $dos-con-cinco;
            float: right;

            padding: {
                top: $tres-con-uno-dos-cinco;
                right: $nueve-tres-siete;
            }
        }
    }

    .pie--links__Us {
        height: $ocho-con-cuatro-tres-siete;
        width: $noventa-porciento;
        margin: $dos-uno-ocho-siete-rem auto;

        a {
            text-decoration: none;
            display: block;
            padding: $seis-dos-cinco;
            color: $white;
            font-size: $uno-con-cinco;
        }
    }

    .pie--links__Help {
        height: $ocho-con-cuatro-tres-siete;
        width: $noventa-porciento;
        margin: $dos-uno-ocho-siete-rem auto;

        a {
            text-decoration: none;
            display: block;
            padding: $seis-dos-cinco;
            color: $white;
            font-size: $uno-con-cinco;
        }
    }

    .pie--links__Proves {
        height: $ocho-con-cuatro-tres-siete;
        width: $noventa-porciento;
        margin: $dos-uno-ocho-siete-rem auto;

        a {
            text-decoration: none;
            display: block;
            padding: $seis-dos-cinco;
            color: $white;
            font-size: $uno-con-cinco;
        }
    }

    p {
        text-align: center;
        font-size: $ocho-siete-cinco;
        color: $white;
        padding-top: $ocho-siete-cinco;
    }
}

@media (min-width: 83.75rem) {
    main {
        width: $lateral-completo;
        margin: $margen-lateral-auto;

        .header-movil {
            background: red;
            display: none !important;
        }

        .header-desktop {
            display: inline-block !important;
            width: 100%;
            height: 120px;
            margin: 0 auto;
            margin-bottom: $nueve-tres-siete;
            text-align: center;
            background: $azul-oscuro;

            .logo-loco {
                display: inline-block;
                vertical-align: middle;
                height: 50px;
                width: 50px;
                padding: $nueve-tres-siete;

                margin: {
                    top: $uno-con-dos-cinco;
                    bottom: $uno-con-dos-cinco;
                }

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .header-movil__menu {
                display: inline-block;
                vertical-align: middle;
                height: 50px;
                // width: 70%;
                padding: $nueve-tres-siete;

                margin: {
                    top: $uno-con-dos-cinco;
                    bottom: $uno-con-dos-cinco;
                }

                .menu-lista {
                    margin: 0 auto;
                    vertical-align: middle;

                    .menu-lista__item {
                        display: inline-block;

                        margin: {
                            left: 15px;
                            right: 15px;
                        }

                        a {
                            text-decoration: none;
                            color: white;
                            font-size: $uno-con-cinco;
                            line-height: 3rem;
                        }

                        .works {
                            text-decoration: none;
                            color: black;
                            font-size: $uno-con-cinco;
                            line-height: 3rem;
                            border-radius: 50px;
                            width: 175px;
                            background: $azul-verde-claro;
                            font-family: $LBB;
                        }
                    }
                }

            }
        }

        // Secciones del mensaje de bienvenida
        .welcome {
            width: $lateral-completo;
            height: 500px;
            border-radius: 0px;
            background: $azul-claro;

            margin: {
                top: 50px;
                bottom: 0;
            }

            .presentation {
                // display: inline-block;
                width: 90%;
                height: 400px;
                // margin: 100px 0;
                margin: 50px auto;
                // margin-left: 26%;
                padding: 0;
                line-height: 80px;

                .title {
                    font-size: 48px;
                    text-align: center;
                }

                .inspiration {
                    font-size: $uno-con-dos-cinco;
                    text-align: center;
                }

                .works {
                    // display: inline-block;
                    width: 22%;
                    // padding: $nueve-tres-siete;
                    text-align: center;
                }
            }
        }

        // Sección de presentación
        .messageOne {
            height: 300px;
            width: 90%;
            margin: $margen-lateral-auto;

            margin: {
                top: $dos-uno-ocho-siete-rem;
            }

            .quote1 {
                display: inline-block;
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 25px 0;

                h2 {
                    font-size: $dos-con-cinco;
                    padding-top: 50px;
                    text-align: center;
                    color: $morado-oscuro;
                }

                .comunicado {
                    font-size: $uno-con-cinco;
                    padding-top: 25px;
                    text-align: left;
                }
            }

            .cartaMensaje {
                float: right;
                height: 25%; //Crece de una manera extraña
                width: 45%;
                margin: 125px 0;
                padding: 0;

                .perfil {
                    height: 100%;
                    width: 20%;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 0;
                    }
                }
            }
        }

        //Muestra los servicios que ofrecemos
        .servicios {
            height: 12rem;
            text-align: center;

            .servicios--servicio {
                display: inline-block;
                height: 100%;
                width: 30%;
                margin: 0 $uno-con-uno-dos-cinco;

                .servicios--servicio__title {
                    font-size: 2.5rem;
                    line-height: 3.5rem;
                }

                .servicios--servicio__desc {
                    font-size: 1.5rem;
                }
            }
        }

        // Sección de los perfiles del equipo
        .perfiles {
            height: 80rem;
            text-align: center;

            .perfiles--user {
                display: inline-block;
                width: 40%;
                height: 33.875rem;

                p {
                    margin: {
                        top: 1.25rem;
                        bottom: 1.25rem;
                    }
                }

                .perfiles--user__foto {
                    width: 50%;
                    height: 60%;
                }

                .perfiles--user__name {
                    font-size: 2.5rem;
                }

                .perfiles--user__rol {
                    font-size: 2.25rem;
                }

                .perfiles--user__social {
                    font-size: 2.15rem;
                }
            }
        }

        // Sección para nuevos proyectos
        .new--project {

            .new--project__mensaje1 {
                text-align: center;
                font-size: 1.5rem;
                padding-bottom: 2.75rem;
            }

            .new--project__moreInfo {
                height: 4.75rem;
                width: 20%;

                a {
                    font-size: 1.5rem;
                }
            }

            .new--project__meetTheTeam {
                height: 4.75rem;
                width: 20%;
                margin-top: 3rem;

                a {
                    font-size: 1.5rem;
                }
            }
        }

        // Sección de muestra de proyectos
        .projects {
            height: 45rem;
            text-align: center;

            .projects--invitation {
                font-size: 2.25rem;
            }

            .projects--title {
                font-size: 2.5rem;
            }

            .projects--img {
                display: inline-block;
                height: 60%;
                width: 30%;

                margin: {
                    left: 1.5rem;
                    right: 1.5rem;
                }
            }
        }

        // Sección de reviews
        .reviews {

            .reviews--tarjetas {
                padding-left: 3.312rem;
            }
        }

        // Tecnologías uasadas
        .tools {
            height: 31.875rem;

            .tools--title {
                font-size: 2.25rem;
            }

            .tools--tool {
                height: 86%;

                margin: {
                    left: 1.3125rem;
                    right: 1.3125rem;
                }
            }

            .three {
                width: 25%;
            }
        }

        // Sección de contacto
        .contact {
            height: 40rem;

            .contact--invite {
                font-size: 2.25rem;
            }

            .contact--invitation {
                font-size: 2.625rem;
            }

            .contact--phone {
                display: inline-block;
                width: 50%;
                position: relative;
                top: 7rem;

                .contact--action {}

                .contact--info {

                    .contact--info__number {
                        font-size: 2rem;
                    }
                }
            }

            .contact--mail {
                display: inline-block;
                width: 50%;
                position: relative;
                bottom: 163px;

                .contact--info {

                    .contact--info__mail {
                        font-size: 1.875rem;
                    }
                }
            }

            .buzon {
                display: inline-block;
                width: 45%;
                position: relative;
                bottom: 80px;
            }
        }
    }

    .pie {
        height: $treinta-tres-rem;
        margin-top: 5rem;
        border-radius: 0;
        text-align: right;

        .pie--logo {

            h2 {
                margin-left: 3rem;

                padding: {
                    top: 2.125rem !important;
                }
            }
        }

        .pie--links__Us {
            display: inline-block;
            width: auto;
            height: auto;

            margin: {
                left: 3rem;
                right: 3rem;
            }

            a {
                font-size: 2.5rem;
                text-align: center;
            }
        }

        .pie--links__Help {
            display: inline-block;
            width: auto;
            height: auto;

            margin: {
                left: 3rem;
                right: 3rem;
            }

            a {
                font-size: 2.5rem;
                text-align: center;
            }
        }

        .pie--links__Proves {
            display: inline-block;
            width: auto;
            height: auto;

            margin: {
                left: 3rem;
                right: 3rem;
            }

            margin-right: 100px;

            a {
                font-size: 2.5rem;
                text-align: center;
            }
        }

        p {
            margin-top: 2rem;
        }
    }
}