@font-face {
  font-family: "icons";
  src: url("../assets/fonts/icomoon/fonts/icomoon.eot?e9bd");
  src: url("../assets/fonts/icomoon/fonts/icomoon.eot") format("embedded-opentype"), url("../assets/fonts/icomoon/fonts/icomoon.ttf?e9bd") format("truetype"), url("../assets/fonts/icomoon/fonts/icomoon.woff?e9bd") format("woff"), url("../assets/fonts/icomoon/fonts/icomoon.svg?e9bd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Full-Star";
  src: url("../assets/fonts/stars/fonts/icomoon.eot?e9bd");
  src: url("../assets/fonts/stars/fonts/icomoon.eot") format("embedded-opentype"), url("../assets/fonts/stars/fonts/icomoon.ttf?e9bd") format("truetype"), url("../assets/fonts/stars/fonts/icomoon.woff?e9bd") format("woff"), url("../assets/fonts/stars/fonts/icomoon.svg?e9bd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "icon-menu";
  src: url("../assets/fonts/menu/fonts/icomoon.eot?e9bd");
  src: url("../assets/fonts/menu/fonts/icomoon.eot") format("embedded-opentype"), url("../assets/fonts/menu/fonts/icomoon.ttf?e9bd") format("truetype"), url("../assets/fonts/menu/fonts/icomoon.woff?e9bd") format("woff"), url("../assets/fonts/menu/fonts/icomoon.svg?e9bd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Libre Baskerville Bold";
  src: url("../assets/fonts/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Libre Baskerville Regular";
  src: url("../assets/fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Libre Baskerville Italic";
  src: url("../assets/fonts/LibreBaskerville-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}
* {
  margin: 0;
  padding: 0;
}

.clearfix {
  float: none;
  clear: both;
}

main {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header" "mensajeOne" "servicios" "mensaje2" "newProject" "ejemplos" "reviews" "contacto" "footer";
}
main header {
  height: 7.5rem;
  width: 98%;
  display: grid;
  grid-area: "header";
  margin-bottom: 2.187rem;
  grid-template-columns: [col-1-start] 2fr [col-1-end col-2-start] 2fr [col-2-end col3-start] 2fr [col-3-end];
  grid-template-rows: 7.5rem;
  grid-template-areas: "logo .. menuMovil";
}
main header .logo {
  display: inline-block;
  padding: 0.312rem;
  margin: 0.312rem;
  margin: auto;
  height: 80%;
  grid-area: logo;
}
main header .logo img {
  height: 100%;
  width: auto;
}
main header .menu__movil {
  display: inline-block;
  grid-area: menuMovil;
  font-family: "icon-menu";
  text-align: center;
}
main header .menu__movil .icon-menu {
  display: inline;
  font-size: 7.187rem;
  color: black;
}
main .header-movil {
  height: 7.5rem;
  width: 98%;
  display: grid;
  grid-area: "header";
  margin-bottom: 2.187rem;
  grid-template-columns: [col-1-start] 2fr [col-1-end col-2-start] 2fr [col-2-end col3-start] 2fr [col-3-end];
  grid-template-rows: 7.5rem;
  grid-template-areas: "logo .. menuMovil";
}
main .header-movil .logo {
  display: inline-block;
  padding: 0.312rem;
  margin: 0.312rem;
  margin: auto;
  height: 80%;
  grid-area: logo;
}
main .header-movil .logo img {
  height: 100%;
  width: auto;
}
main .header-movil .menu__movil {
  display: inline-block;
  grid-area: menuMovil;
  font-family: "icon-menu";
  text-align: center;
}
main .header-movil .menu__movil .icon-menu {
  display: inline;
  font-size: 7.187rem;
  color: black;
}
main .header-desktop {
  display: none;
}
main .welcome {
  height: 28.125rem;
  width: 90%;
  margin: 0 auto;
  background: #5390D9;
  border-radius: 10%;
  display: grid;
  grid-area: "mensajeOne";
  grid-template-columns: [col-1-start] 2fr [col-1-end];
  grid-template-rows: 7.5rem 7.5rem 7.5rem;
  grid-template-areas: "mensajeA" "mensajeB" "mensajeC";
}
main .welcome .presentation {
  width: 90%;
  margin: auto;
}
main .welcome .presentation .title {
  grid-area: "mensajeA";
  font-family: "Libre Baskerville Italic";
  text-align: left;
  font-size: 2.5rem;
  margin: 1.125rem;
  margin-left: 0.25rem;
  padding: 1.125rem;
  color: black;
}
main .welcome .presentation .inspiration {
  width: 100%;
  grid-area: "mensajeB";
  font-family: "Libre Baskerville Regular";
  font-size: 1rem;
  color: black;
  text-align: left;
  font-size: 0.875rem;
  margin: 0.375rem;
}
main .welcome .presentation .works {
  grid-area: "mensajeC";
  font-family: "Libre Baskerville Italic";
  display: block;
  width: 90%;
  height: 4.125rem;
  margin: 0 auto;
  background: #80FFD8;
  border: none;
  font-size: 1.937rem;
  margin-top: 2.562rem;
  color: black;
  border-radius: 50px;
}
main .welcome .presentation .works:active {
  background: #5E60CE;
  color: white;
}
main .preguntas {
  width: 90%;
  height: 50rem;
  margin: 2.187rem auto;
}
main .preguntas .preguntas--title {
  text-align: center;
  line-height: 5.562rem;
  font-size: 1.5rem;
  color: #6930C3;
  font-family: "Libre Baskerville Bold";
}
main .preguntas .preguntas--frecuentes {
  width: 100%;
  height: 100px;
  background-color: rgba(105, 48, 195, 0.25);
  margin: 2.187rem 0;
}
main .preguntas .preguntas--frecuentes .preguntas--frecuentes__contenido {
  display: inline-block;
  height: 100%;
  width: 75%;
}
main .preguntas .preguntas--frecuentes .preguntas--frecuentes__contenido p {
  color: black;
  display: block;
  height: 90%;
  padding: 8px;
  padding-left: 28px;
  font-size: 1.5rem;
  text-align: left;
}
main .preguntas .preguntas--frecuentes .preguntas--frecuentes__arrow {
  float: right;
  height: 100%;
  width: 25%;
}
main .preguntas .preguntas--frecuentes .preguntas--frecuentes__arrow .icon-menu {
  display: block;
  font-family: "icons";
  font-size: 4.5rem;
  text-align: center;
  transform: rotateZ(149deg);
  transition: all 300ms;
  padding-left: 19px;
  padding-bottom: 7px;
}

.pie {
  height: 50rem;
  width: 100%;
  margin: 0 auto;
  background: #6930C3;
  border-radius: 3.125rem 3.125rem 0 0;
}
.pie .pie--logo {
  padding: 0.312rem;
  margin: 0.937rem;
  height: 18%;
  width: 90%;
}
.pie .pie--logo img {
  display: inline-block;
  height: 100%;
  width: auto;
  padding-top: 0.312rem;
  padding-left: 1.25rem;
}
.pie .pie--logo .pie--company {
  font-size: 2.5rem;
  float: right;
  padding-top: 3.125rem;
  padding-right: 0.937rem;
}
.pie .pie--links__Us {
  height: 8.437rem;
  width: 90%;
  margin: 2.187rem auto;
}
.pie .pie--links__Us a {
  text-decoration: none;
  display: block;
  padding: 0.625rem;
  color: white;
  font-size: 1.5rem;
}
.pie .pie--links__Help {
  height: 8.437rem;
  width: 90%;
  margin: 2.187rem auto;
}
.pie .pie--links__Help a {
  text-decoration: none;
  display: block;
  padding: 0.625rem;
  color: white;
  font-size: 1.5rem;
}
.pie .pie--links__Proves {
  height: 8.437rem;
  width: 90%;
  margin: 2.187rem auto;
}
.pie .pie--links__Proves a {
  text-decoration: none;
  display: block;
  padding: 0.625rem;
  color: white;
  font-size: 1.5rem;
}
.pie p {
  text-align: center;
  font-size: 0.875rem;
  color: white;
  padding-top: 0.875rem;
}

@media (min-width: 83.75rem) {
  main {
    width: 100%;
    margin: 0 auto;
  }
  main .header-movil {
    background: red;
    display: none !important;
  }
  main .header-desktop {
    display: inline-block !important;
    width: 100%;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 0.937rem;
    text-align: center;
    background: #5390D9;
  }
  main .header-desktop .logo-loco {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    padding: 0.937rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  main .header-desktop .logo-loco img {
    height: 100%;
    width: 100%;
  }
  main .header-desktop .header-movil__menu {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    padding: 0.937rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  main .header-desktop .header-movil__menu .menu-lista {
    margin: 0 auto;
    vertical-align: middle;
  }
  main .header-desktop .header-movil__menu .menu-lista .menu-lista__item {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
  }
  main .header-desktop .header-movil__menu .menu-lista .menu-lista__item a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    line-height: 3rem;
  }
  main .header-desktop .header-movil__menu .menu-lista .menu-lista__item .works {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    line-height: 3rem;
    border-radius: 50px;
    width: 175px;
    background: #80FFD8;
    font-family: "Libre Baskerville Bold";
  }
  main .welcome {
    width: 100%;
    height: 500px;
    border-radius: 0px;
    background: #48BFE3;
    margin-top: 50px;
    margin-bottom: 0;
  }
  main .welcome .presentation {
    width: 90%;
    height: 400px;
    margin: 50px auto;
    padding: 0;
    line-height: 80px;
  }
  main .welcome .presentation .title {
    font-size: 48px;
    text-align: center;
  }
  main .welcome .presentation .inspiration {
    font-size: 1.25rem;
    text-align: center;
  }
  main .welcome .presentation .works {
    width: 22%;
    text-align: center;
  }
  main .preguntas {
    height: 44rem;
    text-align: center;
  }
  main .preguntas .preguntas--frecuentes {
    width: 45%;
    display: inline-block;
  }

  .pie {
    height: 33rem;
    margin-top: 5rem;
    border-radius: 0;
    text-align: right;
  }
  .pie .pie--logo h2 {
    margin-left: 3rem;
    padding-top: 2.125rem !important;
  }
  .pie .pie--links__Us {
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .pie .pie--links__Us a {
    font-size: 2.5rem;
    text-align: center;
  }
  .pie .pie--links__Help {
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .pie .pie--links__Help a {
    font-size: 2.5rem;
    text-align: center;
  }
  .pie .pie--links__Proves {
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-right: 100px;
  }
  .pie .pie--links__Proves a {
    font-size: 2.5rem;
    text-align: center;
  }
  .pie p {
    margin-top: 2rem;
  }
}/*# sourceMappingURL=preguntas.css.map */